In [1]:
import pandas as pd
import numpy as np
import random as rn

In [2]:
a=rn.randint(1,1000)
b=rn.randint(1,1000)
c=rn.randint(1,1000)
d=rn.randint(1,1000)

In [13]:
data={'國家':['TW','JP','US','AU'],
      '人口':[  a  ,  b  ,  c  , d  ],
      '單位':['萬','萬','萬','萬']}     
Data = pd.DataFrame(data)
print(Data)

   國家   人口 單位
0  TW  698  萬
1  JP  892  萬
2  US  160  萬
3  AU  336  萬

In [16]:
index = [np.argmax([a,b,c,d]),np.argmin([a,b,c,d])]

In [22]:
Data.loc[index]

   國家   人口 單位
1  JP  892  萬
2  US  160  萬